USE [master]
GO
/****** Object:  Database [JobSeeker]    Script Date: 12/16/2025 12:47:45 PM ******/
CREATE DATABASE [JobSeeker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobSeeker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\JobSeeker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JobSeeker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\JobSeeker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobSeeker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobSeeker]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/16/2025 12:47:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[dob] [date] NULL,
	[address] [nvarchar](255) NULL,
	[avatar] [nvarchar](255) NULL,
	[roleId] [int] NULL,
	[isActive] [bit] NULL,
	[createAt] [date] NULL,
	[updatedAt] [date] NULL,
	[gender] [bit] NULL,
 CONSTRAINT [PK__Account__3213E83F7FC4AC05] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 12/16/2025 12:47:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[JobPostingID] [int] NULL,
	[JobSeekerID] [int] NULL,
	[CVID] [int] NULL,
	[Status] [int] NULL,
	[AppliedDate] [date] NULL,
 CONSTRAINT [PK__Applicat__C93A4F79B203A862] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 12/16/2025 12:47:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[location] [nvarchar](255) NULL,
	[verificationStatus] [bit] NULL,
	[accountId] [int] NULL,
	[BusinessLicenseImage] [nvarchar](max) NULL,
	[BusinessCode] [nvarchar](50) NULL,
 CONSTRAINT [PK__Companie__2D971C4CD6A6A885] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CVs]    Script Date: 12/16/2025 12:47:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVs](
	[CVID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NULL,
	[FilePath] [nvarchar](255) NULL,
	[UploadDate] [datetime2](7) NULL,
	[LastUpdated] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 12/16/2025 12:47:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[EducationID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NULL,
	[Institution] [nvarchar](255) NULL,
	[Degree] [nvarchar](100) NULL,
	[FieldOfStudy] [nvarchar](100) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[DegreeImg] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EducationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavourJobPosting]    Script Date: 12/16/2025 12:47:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavourJobPosting](
	[FavourJPID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NULL,
	[JobPostingID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 12/16/2025 12:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[ContentFeedback] [nvarchar](max) NULL,
	[CreatedAt] [date] NULL,
	[Status] [int] NULL,
	[JobPostingID] [int] NULL,
 CONSTRAINT [PK__Feedback__6A4BEDF60AAD4713] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interviews]    Script Date: 12/16/2025 12:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interviews](
	[InterviewID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[InterviewDate] [datetime] NOT NULL,
	[InterviewTime] [nvarchar](50) NULL,
	[Location] [nvarchar](255) NULL,
	[InterviewType] [nvarchar](50) NULL,
	[MeetingLink] [nvarchar](500) NULL,
	[Notes] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Interviews] PRIMARY KEY CLUSTERED 
(
	[InterviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Posting_Category]    Script Date: 12/16/2025 12:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Posting_Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Job_Posting_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobPostings]    Script Date: 12/16/2025 12:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPostings](
	[JobPostingID] [int] IDENTITY(1,1) NOT NULL,
	[RecruiterID] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Requirements] [nvarchar](max) NULL,
	[MinSalary] [decimal](10, 2) NULL,
	[MaxSalary] [decimal](10, 2) NULL,
	[Currency] [nvarchar](10) NULL,
	[Location] [nvarchar](255) NULL,
	[PostedDate] [date] NULL,
	[ClosingDate] [date] NULL,
	[Job_Posting_CategoryID] [int] NULL,
	[Status] [nvarchar](20) NULL,
 CONSTRAINT [PK__JobPosti__350AABE90A500774] PRIMARY KEY CLUSTERED 
(
	[JobPostingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobSeekers]    Script Date: 12/16/2025 12:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSeekers](
	[JobSeekerID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JobSeekerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recruiters]    Script Date: 12/16/2025 12:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recruiters](
	[RecruiterID] [int] IDENTITY(1,1) NOT NULL,
	[isVerify] [bit] NULL,
	[AccountID] [int] NULL,
	[CompanyID] [int] NULL,
	[Position] [nvarchar](100) NULL,
	[FrontCitizenImage] [nvarchar](255) NULL,
	[BackCitizenImage] [nvarchar](255) NULL,
 CONSTRAINT [PK__Recruite__219CFF76A3451C8C] PRIMARY KEY CLUSTERED 
(
	[RecruiterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/16/2025 12:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Work_Experience]    Script Date: 12/16/2025 12:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work_Experience](
	[ExperienceID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NULL,
	[CompanyName] [nvarchar](255) NULL,
	[JobTitle] [nvarchar](100) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExperienceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [username], [password], [email], [phone], [firstName], [lastName], [dob], [address], [avatar], [roleId], [isActive], [createAt], [updatedAt], [gender]) VALUES (1, N'admin', N'admin', N'tnhailam0602@gmail.com', NULL, N'Nguyễn Hải', N'Lâm', NULL, NULL, NULL, 1, 1, CAST(N'2024-10-16' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([ApplicationID], [JobPostingID], [JobSeekerID], [CVID], [Status], [AppliedDate]) VALUES (1, 1106, 1, 1, 2, CAST(N'2025-12-09' AS Date))
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[CVs] ON 

INSERT [dbo].[CVs] ([CVID], [JobSeekerID], [FilePath], [UploadDate], [LastUpdated]) VALUES (1, 1, N'/JobSeeker/cvFiles/LuuYKhithiPE_PRN.pdf', CAST(N'2025-12-09T00:00:00.0000000' AS DateTime2), CAST(N'2025-12-09T15:23:53.8166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CVs] OFF
GO
SET IDENTITY_INSERT [dbo].[Job_Posting_Category] ON 

INSERT [dbo].[Job_Posting_Category] ([id], [name], [status]) VALUES (12, N'Công nghệ thông tin', 1)
INSERT [dbo].[Job_Posting_Category] ([id], [name], [status]) VALUES (13, N'Kinh doanh & Tài chính', 1)
INSERT [dbo].[Job_Posting_Category] ([id], [name], [status]) VALUES (14, N'Y tế', 1)
SET IDENTITY_INSERT [dbo].[Job_Posting_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[JobSeekers] ON 

INSERT [dbo].[JobSeekers] ([JobSeekerID], [AccountID]) VALUES (1, 20)
SET IDENTITY_INSERT [dbo].[JobSeekers] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([id], [name]) VALUES (2, N'recruiter')
INSERT [dbo].[Role] ([id], [name]) VALUES (3, N'seeker')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__F3DBC572418299EE]    Script Date: 12/16/2025 12:47:46 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UQ__Account__F3DBC572418299EE] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__JobSeeke__349DA5873C6EEA0C]    Script Date: 12/16/2025 12:47:46 PM ******/
ALTER TABLE [dbo].[JobSeekers] ADD UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Recruite__349DA587681A6B54]    Script Date: 12/16/2025 12:47:46 PM ******/
ALTER TABLE [dbo].[Recruiters] ADD  CONSTRAINT [UQ__Recruite__349DA587681A6B54] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__isActiv__286302EC]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__createA__29572725]  DEFAULT (getdate()) FOR [createAt]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF__Applicati__Statu__4316F928]  DEFAULT ('Submitted') FOR [Status]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF__Applicati__Appli__440B1D61]  DEFAULT (getdate()) FOR [AppliedDate]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_verificationStatus]  DEFAULT ((1)) FOR [verificationStatus]
GO
ALTER TABLE [dbo].[CVs] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[CVs] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF__Feedback__Create__47DBAE45]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF__Feedback__Status__48CFD27E]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Interviews] ADD  CONSTRAINT [DF_Interviews_Status]  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Interviews] ADD  CONSTRAINT [DF_Interviews_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Interviews] ADD  CONSTRAINT [DF_Interviews_UpdatedAt]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Job_Posting_Category] ADD  CONSTRAINT [DF_Job_Posting_Category_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[JobPostings] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_CVs] FOREIGN KEY([CVID])
REFERENCES [dbo].[CVs] ([CVID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_CVs]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_JobSeekers] FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeekers] ([JobSeekerID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_JobSeekers]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_Account] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_Account]
GO
ALTER TABLE [dbo].[CVs]  WITH CHECK ADD  CONSTRAINT [FK_CVs_JobSeekers] FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeekers] ([JobSeekerID])
GO
ALTER TABLE [dbo].[CVs] CHECK CONSTRAINT [FK_CVs_JobSeekers]
GO
ALTER TABLE [dbo].[Education]  WITH CHECK ADD  CONSTRAINT [FK_Education_JobSeekers] FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeekers] ([JobSeekerID])
GO
ALTER TABLE [dbo].[Education] CHECK CONSTRAINT [FK_Education_JobSeekers]
GO
ALTER TABLE [dbo].[FavourJobPosting]  WITH CHECK ADD  CONSTRAINT [FK_FavourJobPosting_JobPostings] FOREIGN KEY([JobPostingID])
REFERENCES [dbo].[JobPostings] ([JobPostingID])
GO
ALTER TABLE [dbo].[FavourJobPosting] CHECK CONSTRAINT [FK_FavourJobPosting_JobPostings]
GO
ALTER TABLE [dbo].[FavourJobPosting]  WITH CHECK ADD  CONSTRAINT [FK_FavourJobPosting_JobSeekers] FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeekers] ([JobSeekerID])
GO
ALTER TABLE [dbo].[FavourJobPosting] CHECK CONSTRAINT [FK_FavourJobPosting_JobSeekers]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Account]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_JobPostings] FOREIGN KEY([JobPostingID])
REFERENCES [dbo].[JobPostings] ([JobPostingID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_JobPostings]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [FK_Interviews_Applications] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Applications] ([ApplicationID])
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [FK_Interviews_Applications]
GO
ALTER TABLE [dbo].[JobPostings]  WITH CHECK ADD  CONSTRAINT [FK_JobPostings_Job_Posting_Category] FOREIGN KEY([Job_Posting_CategoryID])
REFERENCES [dbo].[Job_Posting_Category] ([id])
GO
ALTER TABLE [dbo].[JobPostings] CHECK CONSTRAINT [FK_JobPostings_Job_Posting_Category]
GO
ALTER TABLE [dbo].[Recruiters]  WITH CHECK ADD  CONSTRAINT [FK_Recruiters_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Recruiters] CHECK CONSTRAINT [FK_Recruiters_Account]
GO
ALTER TABLE [dbo].[Recruiters]  WITH CHECK ADD  CONSTRAINT [FK_Recruiters_Companies] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([id])
GO
ALTER TABLE [dbo].[Recruiters] CHECK CONSTRAINT [FK_Recruiters_Companies]
GO
ALTER TABLE [dbo].[Work_Experience]  WITH CHECK ADD  CONSTRAINT [FK_Work_Experience_JobSeekers] FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeekers] ([JobSeekerID])
GO
ALTER TABLE [dbo].[Work_Experience] CHECK CONSTRAINT [FK_Work_Experience_JobSeekers]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [CK_Applications] CHECK  (([Status]=(3) OR [Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [CK_Applications]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [CHK_Feedback_Status] CHECK  (([Status]=(4) OR [Status]=(3) OR [Status]=(2) OR [Status]=(1)))
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [CHK_Feedback_Status]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [CHK_Interviews_Status] CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Rescheduled' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [CHK_Interviews_Status]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [CHK_Interviews_Type] CHECK  (([InterviewType]='Online' OR [InterviewType]='Offline'))
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [CHK_Interviews_Type]
GO
ALTER TABLE [dbo].[JobPostings]  WITH CHECK ADD  CONSTRAINT [CK_JobPostings_Status] CHECK  (([Status]='Violate' OR [Status]='Closed' OR [Status]='Open'))
GO
ALTER TABLE [dbo].[JobPostings] CHECK CONSTRAINT [CK_JobPostings_Status]
GO
USE [master]
GO
